@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url(../components/css/bleedblue.css);


.page-layout{
    margin:0;
    padding: 0;
    gap:0;
    height: 100vh;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header header header"
    "aside   main   main   main   main"
    "aside   main   main   main   main"
    "aside   main   main   main   main"
    "footer footer footer footer footer";
}


.page-header {
    grid-area: header;
    z-index: 1;
}
.page-content {
    grid-area: main;
}
.page-footer{
    grid-area: footer;
    z-index: 1;
}


.sidebar {
    grid-area: aside;
    position:sticky;
    overflow-y: scroll;
    top: 0rem;
}


.sidenav{
    display: flex;
    flex-direction: column;
    gap:1rem;
    color: var(--bb-dark-color);
}

.sidenav a {
    color: var(--bb-dark-color);
}