@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com)cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');
@import url(./lib/_colors.css);
@import url(./lib/_generalStyle.css);
@import url(./lib//_typography.css);
@import url(./lib/_reset.css);
@import url(./lib/_navbar.css);
@import url(./lib/_image.css);
@import url(./lib/_grid.css);
@import url(./lib/_button.css);
@import url(./lib/_alert.css);
@import url(./lib/_avatar.css);

:root{
    --bb-primary-color: #1b5cc1;
    --bb-primary-light-color: #81c5f1;
    --bb-success-color: #16815c;
    --bb-success-light-color: #84f1c9;
    --bb-danger-color: #aa0e0e;
    --bb-danger-light-color: #ff5757;
    --bb-warning-color: rgb(146, 146, 9);
    --bb--warning-light-color: rgb(240, 240, 149);
    --bb-secondary-color: #2c7ae0;
    --bb-dark-color: #393734;
    --bb-inactive-color: #cacaca;
    --bb-light-color: #ffffff;
    --bb-shadow-color-dark: #4c4c4b0d;
    --bb-shadow-color-light:#EBEBEB;
    --bb-font-family: 'Nunito', sans-serif;
}

* {
    margin: 0;
    font-size: 102%;
    line-height: 2rem;
    word-wrap: break-word;
    scroll-behavior: smooth;
}

body{
    font-family: var(--bb-font-family);
    letter-spacing:.0135em;
    box-sizing: border-box;
    color: var(--bb-dark-color);
    background-color: var(--bb-light-color);
}